.main-wrapper {
    margin: 50px;
    margin-left: 90px;
    margin-right: 90px;
}

.title {
    text-transform: uppercase;
    border-bottom: solid;
    border-color: rgb(45, 45, 45);
    padding-bottom: 7px;
    margin-bottom: 25px;
}

.title-letters {
    background-color: black;
    font-weight: bold;
    width: 250px;
}

.h-scrollbar {
    overflow-x: scroll;
    width: 100%;
}

.h-scrollbar div {
    width: 250px;
}

.h-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 11px;
}
 
/* Track */
.h-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.h-scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}
