.blog-navbar {
    background-image: url("https://th.bing.com/th/id/R.a97e78abf66a1ae3f4480ffeb8f17cbc?rik=Rdg30pv1vQGY%2fw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f1I3yb5l.jpg&ehk=%2fYZ2A6GMnR1vf3cM0OtMeRIzu9HDkzUWqFmDW47PIkY%3d&risl=&pid=ImgRaw&r=0");
    background-position: center 18%;
    border-bottom: solid;
    border-color: rgb(45, 45, 45);
}

.logo {
    width: 150px;
    padding: 10px;
    margin-left: 45px;
}

.favs-button {
    margin-right: 45px;
    padding: 5px;
    background-color: rgb(45, 45, 45);
    border-radius: 6px;
}

.sub-nav {
    background-color:rgb(18, 18, 18);
    padding: 15px;
    margin: 0;
}

.subnav-item {
    font-weight: bold;
    margin:0;
    text-transform: uppercase;
}

.search-bar {
    margin: 55px;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    border: none;
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    background-color: transparent;
    margin-right: 10px;

}

.input:focus {
    outline: none;
    background-color: transparent;
    border-color: black;
}

.search-button {
    background-color: rgb(33, 33, 33);
    border: none;
    color: white;
    padding-top: 15px;
}

.trash:hover {
    color: rgb(255, 79, 48);
}